@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: #fff;
  font: normal 16px/24px "Montserrat", "Helvetica Neue", sans-serif;
}

.repoList {
  list-style-type: none;
  padding-inline-start: 0px;
  padding: 2px;
}

.repoHeader {
  font-size: 80%;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid;
}

.prList {
  list-style-type: none;
  padding-inline-start: 0px;
  color: #0f0;
}

.prGrid {
  display: grid;
  grid-template-columns: max-content auto max-content;
}

.prNumber {
  font-family: monospace;
  font-size: 80%;
  font-weight: bold;
}

.prTitle {
}

.prStatus {
}
