
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  background: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
}

.repoList {
  list-style-type: none;
  padding-inline-start: 0px;
  padding: 2px;
}

.repoHeader {
  font-size: 80%;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid;
  margin-bottom: 3px;
}

.prList {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0px;
}

.prlist li + li {
  padding-top: 5px;
}

.prGrid {
  display: grid;
  grid-template-columns: max-content auto max-content;
}

.prNumberContainer {
  font-family: monospace;
  font-size: 80%;
  font-weight: bold;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
}

.prNumber {
  margin-top: auto;
}

.prTitle {
}

.prStatusContainer {
  display: flex;
  flex-direction: column;
}

.prStatus {
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: auto;
  height: 1.0em;
  width: 1.0em;
}

.prChecks {
  display: flex;
  align-items: center;
  height: 1.0em;
  font-size: 80%;
}

.checkName {
  display: inline-block;
  font-size: 80%;
  border: 1px #555 solid;
  color: #555;
  border-radius: 5px;
  padding: 1px 3px 1px 3px;
  margin-right: 0.25em;
  margin-left: 5px;
}

.checkIcon {
  width: 1.0em;
  height: 1.0em;
  margin-right: 0.1em;
}

.iconUnknown { background-image: url(/static/img/question.svg); }
.iconFailure { background-image: url(/static/img/failure.svg); }
.iconSuccess { background-image: url(/static/img/success.svg); }
